body {
  min-height: 100vh;
  width: 96vw;

  background-color: black;
  margin-left: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#up {
  height: 8em;
  background-color: black;
}
#main {
  height: 44.3em;
}
#bottom {
  height: 5em;
  border-color: orange;
  width: 100vw;
}
/* .altura {
  height: 100vh;
} */
#logo {
  height: 5em;
  width: 5em;
}
#upLeft {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#name {
  color: orange;
  font-size: 3.5em;
  font-style: oblique;
  font-weight: bold;
}
#upRight {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intMenu {
  margin: 0.22em;
  padding: 0.2em;
  color: orange;

  font-weight: bold;
}
#botItems {
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
}
#rrss {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rrssIcons {
  height: 2em;
  width: 2em;

  margin: 0.5em;
}
#botName {
  color: black;
}
a:link {
  text-decoration: none;
  color: orange;
}
a:visited {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: black;
  background-color: orange;
  outline-color: orange;
  outline-style: double;
  border-radius: 2%;
  margin: 0.22em;
  padding: 0.2em;
}
