body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#up {
  height: 20%;
}
#main {
  height: 70%;
}
#bottom {
  height: 10%;
}
.altura {
  height: 100vh;
}
#logo {
  height: 5em;
  width: 5em;
}
#upLeft {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#name {
  color: orange;
}
#upRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intMenu {
  margin: 0.5em;
  padding: 0.2em;
  color: orange;
  outline-color: orange;
  outline-style: double;
  border-radius: 2%;
}
